---
layout: page
title: 'Schema.org OpenAPI Specs'
---

<script type="text/javascript">

  function showme($id)
    {
    console.log($id);
    if(document.getElementById($id).style.display=='none')
      {
      document.getElementById($id).style.display = '';
      }
    else
      {
      document.getElementById($id).style.display = 'none';
      }
    }

</script>

14 - 1<br />

{% for folder in site.data.apis %}
  {% for item in folder %}
    {% assign file = item %}
      {% if file.apis != null %}
        {% for api in file.apis %}
        2:  {{ api }} <br />
        {% endfor %}
      {% endif %}
  {% endfor %}
{% endfor %}
