---
layout: page
---
<script type="text/javascript">
  function showme($id)
    {
    if(document.getElementById($id).style.display=='none')
      {
      document.getElementById($id).style.display = '';
      }
    else
      {
      document.getElementById($id).style.display = 'none';
      }
    }
</script>
<table cellpadding="3" cellspacing="2" width="100%" border="0" style="margin-top: 0px;">

{% assign index = site.data.apis %}
{% assign apijson = index[0] %}
{% assign contents = site.data.api-commons %}
{% assign apicommons = contents %}

  <tr>
    <td>
        <span style="font-size: 24px;"><strong>{{ apijson.name }}</strong></span>
    </td>
  </tr>
  <tr>
    <td>
      {{ apijson.description }}
    </td>
  </tr>
  <tr>
    <td>
          {% for api in apijson.apis %}

          <table cellpadding="3" cellspacing="2" width="100%" border="0">

              {% assign openapi_spec_json = '' %}
              {% assign openapi_spec_yaml = '' %}
              {% for property in api.properties %}

                {% assign thisname = apijson.name | downcase %}
                {% assign thisname = thisname | append:'/' %}
                {% assign thisname = thisname | replace: ' ','-' %}

                {% if property.type == 'x-json-schema' %}
                  {% assign json_schema_url = property.url %}
                {% endif %}

                {% if property.type == 'X-openapi-spec-json' %}

                  {% assign openapi_spec_url = property.url %}

                {% endif %}

                {% if property.type == 'X-openapi-spec-yaml' %}

                  {% assign openapi_spec_url = property.url %}

                {% endif %}

              {% endfor %}

              <tr>
                <td align="left" style="font-size: 20px;">
                  {{ api.name }}
                </td>
                <td align="center" style="width: 50px;">
                  <a href="https://schema.org/{{ api.X-object }}" target="_blank" title="OpenAPI Spec JSON" style="font-size: 12px;">
                    <img src="https://s3.amazonaws.com/kinlane-productions/schema-org/schema-org.png" width="150" align="right" />
                  </a>
                </td>
                <td align="center" style="width: 50px;">
                  <a href="{{ openapi_spec_url }}" target="_blank" title="OpenAPI Spec JSON" style="font-size: 12px;">
                    <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-swagger-round.png" width="35" align="right" />
                  </a>
                </td>
                <td align="center" style="width: 50px;">
                  <a href="{{ openapi_spec_url}}" target="_blank" title="OpenAPI Spec YAML" style="font-size: 12px;">
                    <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-yaml.png" width="32" align="right" />
                  </a>
                </td>
              </tr>

            </table>
          {% endfor %}

      </td>
    </tr>
  </table>
<p><hr /></p>
