---
layout: page
title: 'Schema.org OpenAPI Specs'
---

{% assign index = site.data.apis %}
{% assign apijson = index[0] %}
{% assign contents = site.data.api-commons %}
{% assign apicommons = contents %}

<table cellpadding="3" cellspacing="2" width="100%" border="0" style="margin-top: 0px;">
  <tr>
    <td>
        <span style="font-size: 24px;"><strong>{{ apijson.name }}</strong></span>
    </td>
  </tr>
  <tr>
    <td>
      {{ apijson.description }}
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 10px;">
      <table cellpadding="3" cellspacing="2" width="25%" border="0">
        <tr>
          <td><img src="https://s3.amazonaws.com/kinlane-productions/api-commons/api-commons-icon.png" width="40" /></td>
          <td align="left"><a href="/apis.json" target="_blank" style="font-size: 16px font-weight: bold;">View the APIs.json</a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
          {% for api in apijson.apis %}
          <table cellpadding="3" cellspacing="2" width="100%" border="0">

              {% assign openapi_spec_json = '' %}
              {% assign openapi_spec_yaml = '' %}

              {% assign properties = api.properties | sort: 'name' %}
              {% for property in properties %}

                {% assign thisname = apijson.name | downcase %}
                {% assign thisname = thisname | append:'/' %}
                {% assign thisname = thisname | replace: ' ','-' %}

                {% if property.type == 'x-json-schema' %}
                  {% assign json_schema_url = property.url %}
                {% endif %}

                {% if property.type == 'X-openapi-spec-json' %}

                  {% assign openapi_spec_url = property.url %}

                {% endif %}

                {% if property.type == 'X-openapi-spec-yaml' %}

                  {% assign openapi_spec_url = property.url %}

                {% endif %}

              {% endfor %}

              <tr>
                <td align="left" style="font-size: 16px;">
                  {{ api.name }}
                </td>
                <td align="center" width="20%">
                  <a href="https://schema.org/{{ api.X-object }}" target="_blank" title="OpenAPI Spec JSON">
                    <img src="https://s3.amazonaws.com/kinlane-productions/schema-org/schema-org.png" width="80" />
                  </a>
                </td>
                <td align="center" width="10%">
                  <a href="{{ openapi_spec_url }}" target="_blank" title="OpenAPI Spec JSON">
                    <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-swagger-round.png" width="35" />
                  </a>
                </td>
                <td align="center" width="10%">
                  <a href="{{ openapi_spec_url}}" target="_blank" title="OpenAPI Spec YAML">
                    <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-yaml.png" width="32" />
                  </a>
                </td>
              </tr>

            </table>
          {% endfor %}
      </td>
    </tr>
  </table>
<p><hr /></p>
