- swagger: "2.0"
  info:
    title: Business Audience API
    description: A set of characteristics belonging to businesses, e.g. who compose
      an items target audience.
    termsOfService: http://apievangelist.com/terms-of-service.html
    version: v1
  host: business.audience.example.com
  basePath: /
  schemes:
  - http
  produces:
  - application/json
  paths:
    /business-audience/:
      get:
        summary: Get Business Audience
        description: Returns Business Audience
        operationId: getBusinessAudience
        parameters:
        - name: q
          in: query
          description: Keyword search for item
          required: false
          type: string
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Business Audience
      post:
        summary: Add Business Audience
        description: Add Business Audience
        operationId: addBusinessAudience
        parameters:
        - name: additionaltype
          in: formData
          description: An additional type for the item, typically used for adding more
            specific types from external vocabularies in microdata syntax. This is a
            relationship between something and a class that the thing is in. In RDFa
            syntax, it is better to use the native RDFa syntax - the 'typeof' attribute
            - for multiple types. Schema.org tools may have only weaker understanding
            of extra types, in particular those defined externally.
          required: false
          type: url
        - name: alternatename
          in: formData
          description: An alias for the item.
          required: false
          type: text
        - name: audiencetype
          in: formData
          description: The target group associated with a given audience (e.g. veterans,
            car owners, musicians, etc.).
          required: false
          type: text
        - name: description
          in: formData
          description: A short description of the item.
          required: false
          type: text
        - name: geographicarea
          in: formData
          description: The geographic area associated with the audience.
          required: false
          type: administrativearea
        - name: image
          in: formData
          description: An image of the item. This can be a URL or a fully described
            ImageObject.
          required: false
          type: url or  imageobject
        - name: mainentityofpage
          in: formData
          description: 'Indicates a page (or other CreativeWork) for which this thing
            is the main entity being described.            See background notes for
            details.       Inverse property: mainEntity.'
          required: false
          type: creativework or  url
        - name: name
          in: formData
          description: The name of the item.
          required: false
          type: text
        - name: numberofemployees
          in: formData
          description: The number of employees in an organization e.g. business.
          required: false
          type: quantitativevalue
        - name: potentialaction
          in: formData
          description: Indicates a potential Action, which describes an idealized action
            in which this thing would play an 'object' role.
          required: false
          type: action
        - name: sameas
          in: formData
          description: URL of a reference Web page that unambiguously indicates the
            item's identity. E.g. the URL of the item's Wikipedia page, Freebase page,
            or official website.
          required: false
          type: url
        - name: url
          in: formData
          description: URL of the item.
          required: false
          type: url
        - name: yearlyrevenue
          in: formData
          description: The size of the business in annual revenue.
          required: false
          type: quantitativevalue
        - name: yearsinoperation
          in: formData
          description: The age of the business.
          required: false
          type: quantitativevalue
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Business Audience
    /business-audience/{id}/:
      get:
        summary: Get Business Audience
        description: Returns a single Business Audience
        operationId: getBusinessAudience
        parameters:
        - name: id
          in: path
          description: Unique id for item
          required: true
          type: integer
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Business Audience
      put:
        summary: Update Business Audience
        description: Update a single Business Audience
        operationId: updateBusinessAudienceItem
        parameters:
        - name: id
          in: path
          description: Unique id for item
          required: true
          type: integer
        - name: additionaltype
          in: formData
          description: An additional type for the item, typically used for adding more
            specific types from external vocabularies in microdata syntax. This is a
            relationship between something and a class that the thing is in. In RDFa
            syntax, it is better to use the native RDFa syntax - the 'typeof' attribute
            - for multiple types. Schema.org tools may have only weaker understanding
            of extra types, in particular those defined externally.
          required: false
          type: url
        - name: alternatename
          in: formData
          description: An alias for the item.
          required: false
          type: text
        - name: audiencetype
          in: formData
          description: The target group associated with a given audience (e.g. veterans,
            car owners, musicians, etc.).
          required: false
          type: text
        - name: description
          in: formData
          description: A short description of the item.
          required: false
          type: text
        - name: geographicarea
          in: formData
          description: The geographic area associated with the audience.
          required: false
          type: administrativearea
        - name: image
          in: formData
          description: An image of the item. This can be a URL or a fully described
            ImageObject.
          required: false
          type: url or  imageobject
        - name: mainentityofpage
          in: formData
          description: 'Indicates a page (or other CreativeWork) for which this thing
            is the main entity being described.            See background notes for
            details.       Inverse property: mainEntity.'
          required: false
          type: creativework or  url
        - name: name
          in: formData
          description: The name of the item.
          required: false
          type: text
        - name: numberofemployees
          in: formData
          description: The number of employees in an organization e.g. business.
          required: false
          type: quantitativevalue
        - name: potentialaction
          in: formData
          description: Indicates a potential Action, which describes an idealized action
            in which this thing would play an 'object' role.
          required: false
          type: action
        - name: sameas
          in: formData
          description: URL of a reference Web page that unambiguously indicates the
            item's identity. E.g. the URL of the item's Wikipedia page, Freebase page,
            or official website.
          required: false
          type: url
        - name: url
          in: formData
          description: URL of the item.
          required: false
          type: url
        - name: yearlyrevenue
          in: formData
          description: The size of the business in annual revenue.
          required: false
          type: quantitativevalue
        - name: yearsinoperation
          in: formData
          description: The age of the business.
          required: false
          type: quantitativevalue
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Business Audience
      delete:
        summary: Business Audience
        description: Deletes a single Business Audience
        operationId: deleteBusinessAudience
        parameters:
        - name: id
          in: path
          description: Unique id for item
          required: true
          type: integer
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Business Audience
  definitions:
    item:
      properties:
      - name:
          description: additionaltype
          type: url
        description:
          description: An additional type for the item, typically used for adding more
            specific types from external vocabularies in microdata syntax. This is a
            relationship between something and a class that the thing is in. In RDFa
            syntax, it is better to use the native RDFa syntax - the 'typeof' attribute
            - for multiple types. Schema.org tools may have only weaker understanding
            of extra types, in particular those defined externally.
          type: url
      - name:
          description: alternatename
          type: text
        description:
          description: An alias for the item.
          type: text
      - name:
          description: audiencetype
          type: text
        description:
          description: The target group associated with a given audience (e.g. veterans,
            car owners, musicians, etc.).
          type: text
      - name:
          description: description
          type: text
        description:
          description: A short description of the item.
          type: text
      - name:
          description: geographicarea
          type: administrativearea
        description:
          description: The geographic area associated with the audience.
          type: administrativearea
      - name:
          description: image
          type: url or  imageobject
        description:
          description: An image of the item. This can be a URL or a fully described
            ImageObject.
          type: url or  imageobject
      - name:
          description: mainentityofpage
          type: creativework or  url
        description:
          description: 'Indicates a page (or other CreativeWork) for which this thing
            is the main entity being described.            See background notes for
            details.       Inverse property: mainEntity.'
          type: creativework or  url
      - name:
          description: name
          type: text
        description:
          description: The name of the item.
          type: text
      - name:
          description: numberofemployees
          type: quantitativevalue
        description:
          description: The number of employees in an organization e.g. business.
          type: quantitativevalue
      - name:
          description: potentialaction
          type: action
        description:
          description: Indicates a potential Action, which describes an idealized action
            in which this thing would play an 'object' role.
          type: action
      - name:
          description: sameas
          type: url
        description:
          description: URL of a reference Web page that unambiguously indicates the
            item's identity. E.g. the URL of the item's Wikipedia page, Freebase page,
            or official website.
          type: url
      - name:
          description: url
          type: url
        description:
          description: URL of the item.
          type: url
      - name:
          description: yearlyrevenue
          type: quantitativevalue
        description:
          description: The size of the business in annual revenue.
          type: quantitativevalue
      - name:
          description: yearsinoperation
          type: quantitativevalue
        description:
          description: The age of the business.
          type: quantitativevalue