- swagger: "2.0"
  info:
    title: Order Item API
    description: An order item is a line of an order. It includes the quantity and shipping
      details of a bought offer.
    termsOfService: http://apievangelist.com/terms-of-service.html
    version: v1
  host: order.item.example.com
  basePath: /
  schemes:
  - http
  produces:
  - application/json
  paths:
    /order-item/:
      get:
        summary: Get Order Item
        description: Returns Order Item
        operationId: getOrderItem
        parameters:
        - name: q
          in: query
          description: Keyword search for item
          required: false
          type: string
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Order Item
      post:
        summary: Add Order Item
        description: Add Order Item
        operationId: addOrderItem
        parameters:
        - name: additionaltype
          in: formData
          description: An additional type for the item, typically used for adding more
            specific types from external vocabularies in microdata syntax. This is a
            relationship between something and a class that the thing is in. In RDFa
            syntax, it is better to use the native RDFa syntax - the 'typeof' attribute
            - for multiple types. Schema.org tools may have only weaker understanding
            of extra types, in particular those defined externally.
          required: false
          type: url
        - name: alternatename
          in: formData
          description: An alias for the item.
          required: false
          type: text
        - name: description
          in: formData
          description: A short description of the item.
          required: false
          type: text
        - name: image
          in: formData
          description: An image of the item. This can be a URL or a fully described
            ImageObject.
          required: false
          type: url or  imageobject
        - name: mainentityofpage
          in: formData
          description: 'Indicates a page (or other CreativeWork) for which this thing
            is the main entity being described.            See background notes for
            details.       Inverse property: mainEntity.'
          required: false
          type: creativework or  url
        - name: name
          in: formData
          description: The name of the item.
          required: false
          type: text
        - name: orderdelivery
          in: formData
          description: The delivery of the parcel related to this order or order item.
          required: false
          type: parceldelivery
        - name: ordereditem
          in: formData
          description: The item ordered.
          required: false
          type: product or  orderitem
        - name: orderitemnumber
          in: formData
          description: The identifier of the order item.
          required: false
          type: text
        - name: orderitemstatus
          in: formData
          description: The current status of the order item.
          required: false
          type: orderstatus
        - name: orderquantity
          in: formData
          description: The number of the item ordered. If the property is not set, assume
            the quantity is one.
          required: false
          type: number
        - name: potentialaction
          in: formData
          description: Indicates a potential Action, which describes an idealized action
            in which this thing would play an 'object' role.
          required: false
          type: action
        - name: sameas
          in: formData
          description: URL of a reference Web page that unambiguously indicates the
            item's identity. E.g. the URL of the item's Wikipedia page, Freebase page,
            or official website.
          required: false
          type: url
        - name: url
          in: formData
          description: URL of the item.
          required: false
          type: url
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Order Item
    /order-item/{id}/:
      get:
        summary: Get Order Item
        description: Returns a single Order Item
        operationId: getOrderItem
        parameters:
        - name: id
          in: path
          description: Unique id for item
          required: true
          type: integer
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Order Item
      put:
        summary: Update Order Item
        description: Update a single Order Item
        operationId: updateOrderItemItem
        parameters:
        - name: id
          in: path
          description: Unique id for item
          required: true
          type: integer
        - name: additionaltype
          in: formData
          description: An additional type for the item, typically used for adding more
            specific types from external vocabularies in microdata syntax. This is a
            relationship between something and a class that the thing is in. In RDFa
            syntax, it is better to use the native RDFa syntax - the 'typeof' attribute
            - for multiple types. Schema.org tools may have only weaker understanding
            of extra types, in particular those defined externally.
          required: false
          type: url
        - name: alternatename
          in: formData
          description: An alias for the item.
          required: false
          type: text
        - name: description
          in: formData
          description: A short description of the item.
          required: false
          type: text
        - name: image
          in: formData
          description: An image of the item. This can be a URL or a fully described
            ImageObject.
          required: false
          type: url or  imageobject
        - name: mainentityofpage
          in: formData
          description: 'Indicates a page (or other CreativeWork) for which this thing
            is the main entity being described.            See background notes for
            details.       Inverse property: mainEntity.'
          required: false
          type: creativework or  url
        - name: name
          in: formData
          description: The name of the item.
          required: false
          type: text
        - name: orderdelivery
          in: formData
          description: The delivery of the parcel related to this order or order item.
          required: false
          type: parceldelivery
        - name: ordereditem
          in: formData
          description: The item ordered.
          required: false
          type: product or  orderitem
        - name: orderitemnumber
          in: formData
          description: The identifier of the order item.
          required: false
          type: text
        - name: orderitemstatus
          in: formData
          description: The current status of the order item.
          required: false
          type: orderstatus
        - name: orderquantity
          in: formData
          description: The number of the item ordered. If the property is not set, assume
            the quantity is one.
          required: false
          type: number
        - name: potentialaction
          in: formData
          description: Indicates a potential Action, which describes an idealized action
            in which this thing would play an 'object' role.
          required: false
          type: action
        - name: sameas
          in: formData
          description: URL of a reference Web page that unambiguously indicates the
            item's identity. E.g. the URL of the item's Wikipedia page, Freebase page,
            or official website.
          required: false
          type: url
        - name: url
          in: formData
          description: URL of the item.
          required: false
          type: url
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Order Item
      delete:
        summary: Order Item
        description: Deletes a single Order Item
        operationId: deleteOrderItem
        parameters:
        - name: id
          in: path
          description: Unique id for item
          required: true
          type: integer
        responses:
          200:
            description: A successful response.
            schema:
              type: array
              items:
                $ref: '#/definitions/item'
        tags:
        - Order Item
  definitions:
    item:
      properties:
      - name:
          description: additionaltype
          type: url
        description:
          description: An additional type for the item, typically used for adding more
            specific types from external vocabularies in microdata syntax. This is a
            relationship between something and a class that the thing is in. In RDFa
            syntax, it is better to use the native RDFa syntax - the 'typeof' attribute
            - for multiple types. Schema.org tools may have only weaker understanding
            of extra types, in particular those defined externally.
          type: url
      - name:
          description: alternatename
          type: text
        description:
          description: An alias for the item.
          type: text
      - name:
          description: description
          type: text
        description:
          description: A short description of the item.
          type: text
      - name:
          description: image
          type: url or  imageobject
        description:
          description: An image of the item. This can be a URL or a fully described
            ImageObject.
          type: url or  imageobject
      - name:
          description: mainentityofpage
          type: creativework or  url
        description:
          description: 'Indicates a page (or other CreativeWork) for which this thing
            is the main entity being described.            See background notes for
            details.       Inverse property: mainEntity.'
          type: creativework or  url
      - name:
          description: name
          type: text
        description:
          description: The name of the item.
          type: text
      - name:
          description: orderdelivery
          type: parceldelivery
        description:
          description: The delivery of the parcel related to this order or order item.
          type: parceldelivery
      - name:
          description: ordereditem
          type: product or  orderitem
        description:
          description: The item ordered.
          type: product or  orderitem
      - name:
          description: orderitemnumber
          type: text
        description:
          description: The identifier of the order item.
          type: text
      - name:
          description: orderitemstatus
          type: orderstatus
        description:
          description: The current status of the order item.
          type: orderstatus
      - name:
          description: orderquantity
          type: number
        description:
          description: The number of the item ordered. If the property is not set, assume
            the quantity is one.
          type: number
      - name:
          description: potentialaction
          type: action
        description:
          description: Indicates a potential Action, which describes an idealized action
            in which this thing would play an 'object' role.
          type: action
      - name:
          description: sameas
          type: url
        description:
          description: URL of a reference Web page that unambiguously indicates the
            item's identity. E.g. the URL of the item's Wikipedia page, Freebase page,
            or official website.
          type: url
      - name:
          description: url
          type: url
        description:
          description: URL of the item.
          type: url