<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>

			<div id="wrapper">
					<div id="main">
						<div class="inner">

              {% include header.html %}
    	        {{ content }}
              {% include footer.html %}

            </div>
          </div>

          <div id="sidebar">
            <div class="inner">

              {% include sidebar_nav.html %}

            </div>
          </div>

      </div>

{% include footer_scripts.html %}

</body>
</html>
