---
layout: default
---
<h2>{{ page.title }}</h2>
<p><span class="post-date">{{ page.date | date_to_string }}</span></p>
{{ content }}
<hr />
<table cellpadding="5" cellspacing="5" align="center" border="0" style="border-bottom: 0px; padding-bottom: 10px;">
	<tr>
		<td align="center">
			<a href="http://twitter.com/home?status={{ page.title }} - {{ site.production_url }}{{ page.url }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/twitter.png" width="25" /></a>
		</td>
		<td align="center">
			<a href="http://www.facebook.com/share.php?u={{ site.production_url }}{{ page.url }}&title={{ site.production_url }}{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/facebook.png" width="25" /></a>
		</td>
		<td align="center">
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url }}{{ page.url }}&title={{ page.title }}&source=apievangelist.com" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/linkedin.png" width="25" /></a>
		</td>
		<td align="center">
			<a href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/google-plus.png" width="25" /></a>
		</td>
	</tr>
</table>

<ul class="pagination" style="text-align: center;">
	{% if page.previous %}
		<li style="text-align:left;"><a href="{{ site.production_url }}{{ page.previous.url }}" class="button disabled"><< Prev</a></li>
	{% else %}
		<li style="text-align:right;"></li>
	{% endif %}
		<li style="width: 75%"><span></span></li>
	{% if page.next %}
		<li style="text-align:right;"><a href="{{ site.production_url }}{{ page.next.url }}" class="button">Next >></a></li>
	{% else %}
		<li style="text-align:right;"></li>
	{% endif %}
</ul>

<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//apievangelist.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
